.col {
    display: inline-block;
    width: 33%;
    margin-top: 5px;
}

h1{
    font-size: 70px;
}

h3{
    font-size: 35px;

}

h2{
    text-decoration: darkblue;
    font-size: 75px;
    text-transform: capitalize;
    border-top-color:11px solid black;
    border-bottom-color:11px solid black;
}

